:root {
    --color-1:#e5dace;
    --color-3:#e5bb4b;
    --color-2:#498eaf;
    --color-4:#631f16;
    --color-5:#ffffff;
}

#container {
    background-color: var(--color-1);
    display: flex;
    height: 100%;
    width: 100%;
}

#main {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
    width: 90%;
}

.diceSet {
    position: relative;
    background-color: var(--color-2);
    display: flex;
    padding: 25px;
    margin: 15px;
   
}

.dice {
    background-color: var(--color-5);
    width: 50px;
    height: 50px;
    margin: 15px;
}

.close {
    position: absolute;
    right:8px;
    top: 8px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #000;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}



.diceContainer {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.minus, .plus{
    width:20px;
    height:20px;
    background:#f2f2f2;
    border-radius:4px;
    padding:8px 5px 8px 5px;
    border:1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}
