:root {
    --color-1:#e5dace;
    --color-3:#e5bb4b;
    --color-2:#498eaf;
    --color-4:#631f16;
    --color-5:#ffffff;
}

@keyframes color-rotate {
    0%   {background-color: var(--color-1);}
    25%  {background-color: var(--color-3);}
    50%  {background-color: var(--color-4);}
    100% {background-color: var(--color-1);}
  }

body {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAI0lEQVQIW2NkwAT/GdHE/gP5jMiCYAGQIpggXAAmiCIAEgQAAE4FBbECyZcAAAAASUVORK5CYII=) var(--color-1);
    animation-name: color-rotate;
    animation-duration: 24s;
    animation-iteration-count: infinite;
  }

  canvas {
      height: 100%;
      width: 100%;
      position: fixed;
      z-index: -1;
  }
#container {
    height: 100%;
    width: 100%;
}

#main {
    margin: 0;
    padding:30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
    
}

.diceSet {
    position: relative;
    background-color: var(--color-2);
    display: flex;
    padding: 25px;
    min-width: 300px;
    margin: 15px;
   
}

.dice {
    background-color: var(--color-5);
    width: 10vw;
    min-width: 40px;
    max-width: 150px;
    height: 10vw;
    min-height: 40px;
    max-height: 150px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    box-sizing: border-box;
}

.dice:hover {
    -webkit-transform : rotate(5deg) scale(1.1);
    -ms-transform     : rotate(5deg) scale(1.1); 
    transform         : rotate(5deg) scale(1.1); 
}

.close {
    position: absolute;
    right:8px;
    top: 8px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #ffffff;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}



.diceContainer {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.minus, .plus{
    width:20px;
    
}

.total, .modifier {
display: block;
margin: auto;
text-align: center;
font-size: 24px;
background-color: var(--color-5);
padding: 3px;
}

.totalArea .adjusts {
    height:20px;
    background:#f2f2f2;
    border-radius:4px;
    border:1px solid #ddd;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.totalArea p {
    margin: 0;
}

.totalArea label {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: white;
}

.inputs span {
    height:20px;
    background:#f2f2f2;
    border-radius:4px;
    padding:8px 5px 8px 5px;
    border:1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.diceSetTitle {
    position: absolute;
    top: 0;
    margin-top: 12px;
    left: 75px;
    color: white;
}
.addDiceMenu{
    width: 100%;
    min-height: 0;
    height: 0;
    position: absolute;
    background-color: rgba(62,62,62,0.6);
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    box-sizing: border-box;
    flex-wrap: wrap;
    overflow: hidden;
}

.helpText {
    position: absolute;
    top: 0;
    margin-top: 12px;
    left: 15px;
    color: white;
    opacity: 1;
}

.addDiceMenu div{
height: 75px;
    width: 75px;
    position: static;
    background-color: aliceblue;
    margin: 5px;
    box-sizing: border-box;
}

.d4, .d8, .d20 {
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    padding-top: 20px;

}

.d10 {
    -webkit-clip-path: polygon(50% 0, 100% 15%, 50% 100%, 0 15%);
    clip-path: polygon(50% 0, 100% 15%, 50% 100%, 0 15%);
    padding-bottom: 10px;
    

}

.d12 {
    -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);

}

.d100 {
    -webkit-clip-path: polygon(0 50%, 15% 0, 100% 50%, 15% 100%);
    clip-path: polygon(0 50%, 15% 0, 100% 50%, 15% 100%);
    padding-right: 15px;
  
}

#settings-toggle {
    position: absolute;
    top: 15px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding: 3px;
    box-sizing: border-box;
    cursor: pointer;
}

#settings-toggle:hover {
    transform: scale(1.1);
}

#settings-menu {
    background-color: yellow;
    position: absolute;
    top: 15px;
    left: 65px;
    transition: 1s;
}

#settings-toggle img {
    fill: white;
    stroke: white;
    color: white;
}

#settings-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  
  #settings-menu li  {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Change the link color on hover */
  #settings-menu li:hover {
    background-color: #555;
    color: white;
  }

.hide {
    display: none;
}

#tutorial {
    height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 1s;
}

#tutorial-video {
    display: block;
    margin: 30vh auto;
}

#tutorial-audio {
    display: block;
    margin: auto;
}